table.TableDynamics {
  width: 100%;
  box-shadow: 0 3px 6px rgba(#000, .1);
  border-collapse: collapse; /* Garante que as bordas fiquem unificadas */

  thead {
    background-color: var(--sub-cor-padrao-secundary);
    tr th {
      color: rgba(#fff, .8);
      text-align: left;
      padding: 7px 10px;
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .75px;
      border: 1px solid rgba(#000, 0.2); /* Adiciona borda às células do cabeçalho */

      &.right {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #fff; /* Cor de fundo para linhas ímpares (brancas) */
      }

      &:nth-child(even) {
        background-color: #f5f5f5; /* Cor de fundo para linhas pares (cinza claro) */
      }

      &:hover {
        background-color: rgba(#000, .05); /* Efeito de hover */
      }

      td {
        padding: 7px 10px;
        color: #222;
        border: 1px solid rgba(#000, 0.2); /* Borda das células */
        
        &.right {
          text-align: right;
        }
      }
    }
  }
  .actions {
    > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
